:root {
    --navbar-primary: #00B000;
    --navbar-secondary: #020202;
    --navbar-hover: #00A000;
}

.navbar {
    top: 0;
    padding: 0;
    height: 5rem;
    width: 100%;
    background-color: var(--navbar-primary);
    font-size: 1.7rem;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar-item {
    height: 100%;
    width: auto;
    transition: background-color 400ms ease;
    padding: 0 1rem 0 1rem;
}

.navbar-item:hover:not(.navbar-item:first-child) {
    background-color: var(--navbar-hover);
}

.nav-link {
    display: flex;
    align-items: center;
    height: 100%;
    width: auto;
    text-decoration: none;
}

.link-text {
    white-space: nowrap;
    color: var(--navbar-secondary);
}

.link-icon {
    height: 40%;
    padding-right: 1rem;
    color: var(--navbar-secondary);
}

#logo {
    height: 80%;
}

.navbar-item:first-child > .nav-link > .link-icon {
    padding-right: 0;
}

.navbar-item:last-child > .nav-link > .link-icon {
    padding-right: 0;
    padding-left: 1rem;
}

#connect {
    margin-left: auto;
}
