:root {
    --navbar-primary: #CCCCCC;
    --navbar-hover: #BBBBBB;
}

.navbar {
    padding: 0;
    height: 5rem;
    width: 100%;
    position: fixed;
    background-color: var(--navbar-primary);
    font-size: 1.7rem;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar-nav:last-child > .navbar-item > .nav-link > .link-icon {
    background-color: black;
}

.navbar-item {
    height: 100%;
    width: auto;
    transition: background-color 400ms ease;
    padding: 0 1rem 0 1rem;
}

.navbar-item:hover {
    background-color: var(--navbar-hover);
}

.nav-link {
    display: flex;
    align-items: center;
    height: 100%;
    width: auto;
    text-decoration: none;
}

.link-text {
    white-space: nowrap;
}

.link-icon {
    height: 80%;
}

#connect {
    margin-left: auto;
}
