:root {
    --primary-color: #CCCCCC;
    --accent-color: #00C100;
    --background-color: white;
    --text-color: #46644F;
    font-family: "Open Sans";
    font-size: 12px;
}

* {
    box-sizing: border-box;
}
