input {
    border: none;
    border-bottom: solid 1px #00781A;
    color: #00781A;
    font-size: 2rem;
    width: 25vw;
}

.input-text::-webkit-input-placeholder {
    -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
}

.input-text:focus, .input-text:valid {
    box-shadow: none;
    outline: none;
    background-position: 0 0;
}

.input-text:focus::-webkit-input-placeholder {
    color: #00781A;
    font-size: 45%;
    -webkit-transform: translateY(-2rem);
            transform: translateY(-2rem);
    visibility: visible !important;
}

