:root {
    --navbar-primary: #00B000;
    --navbar-secondary: #202020;
    --navbar-hover: #00A000;
}

.navbar {
    top: 0;
    padding: 0;
    height: 5rem;
    width: 100%;
    background-color: var(--navbar-primary);
    font-size: 1.6rem;
}

.navbar-nav {
    list-style: none;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem;
}

.navbar-item {
    height: 100%;
    width: auto;
    transition: background-color 400ms ease;
    padding: 0 1rem 0 1rem;
    border-radius: 30px;
}

.nav-link {
    display: flex;
    align-items: center;
    padding: 0;
    height: 100%;
    width: auto;
    text-decoration: none;
}

.link-text {
    white-space: nowrap;
    color: var(--navbar-secondary);
    padding-right: 2%;
}

.link-text {
    display: block;
    position: relative;
}

.link-text::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: var(--navbar-secondary);
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
}

.link-text:hover::after, .link-text:focus::after {
    opacity: 1;
    transform: translate3d(0, 0.1em, 0);
}

.link-icon {
    height: 40%;
    padding-right: 1rem;
    color: var(--navbar-secondary);
}

#logo {
    height: 80%;
}

.navbar-item:first-child > .nav-link > .link-icon {
    padding-right: 0;
}

.navbar-item:last-child > .nav-link > .link-icon {
    padding-right: 0;
    padding-left: 1rem;
}

#signin {
    margin-left: auto;
}


