body {
    margin: 0;
    overflow: hidden;
}

main {
    flex: 1;
    background-image: url("../images/fond.png");
    background-size: cover;
    display: flex;
    position: relative;
}

#publish-trip {
    background-color: var(--background-color);
    width: 60%;
    height: 80vh;
    margin: auto;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transition: all 500ms ease;
    color: var(--text-color);
}

.publish-row {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    transition: all 500ms ease;
}

.publish-row:last-child {
    flex-direction: column;
    align-items: center;
}

.dest-choice {
    height: 4rem;
    width: 33%;
    border: 0.2rem solid var(--accent-color);
    font-size: 2rem;
    transition: all 200ms ease;
}


.input-text[type="text"] {
    height: 100%;
}

.loc-p {
    margin: 0;
    height: 100%;
    position: relative;
}

.location {
    width: 25vw;
}

.selected {
    color: var(--accent-color);
    background-color: var(--background-color);
}

#info {
    opacity: 0;
    transition: 400ms ease;
    font-size: 1.5rem;
    color: red;
}

#no-connect {
    color: var(--text-color);
    text-decoration: none;
    position: absolute;
    align-self: center;
    margin: 0;
    padding: 0;
    font-size: 4rem;
    transform: translate(0,-70%);
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    padding: 1%;
    padding-left: 5%;
    padding-right: 5%;
    border: solid 2px var(--text-color);
}

#no-connect:hover {
    cursor: pointer;
    border: solid 2px var(--accent-color);
    transition: 0.3s ease;
}
