body {
    margin: 0;
}

main {
    flex: 1;
    display: flex;
    background-color: var(--background-color);
    align-items: center;
}

.sign-up {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="tel"] {
    margin-bottom: 10%;
}

.input-text{
    padding-top: 2vh;
    margin-top: 3vh;
}

#info {
    font-size: 1.5rem;
    color: red;
    opacity: 0;
    transition: 400ms ease;
    overflow: hidden;
    white-space: nowrap;
}
