body {
    margin: 0;
}

main {
    flex: 1;
    background-color: var(--background-color);
    display: flex;
}
  
.sign-in {
    width: 20vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="password"] {
    margin-bottom: 10%;
}

.input-text{
    margin-top: 3vh;
}

#signup {
    margin-top: 1rem;
    text-decoration: none;
    color: black;
}

#info {
    font-size: 1.5rem;
    color: red;
    opacity: 0;
    transition: 400ms ease;
    white-space: nowrap;
}
