body {
    margin: 0;
}

main {
    flex: 1;
    display: flex;
    background-color: var(--background-color);
    align-items: center;
}

.sign-up {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-text {
    font-size: 2rem;
    margin-bottom: 3rem;
    width: 25vw;
}

.sign-up > button {
    font-size: 2rem;
    height: 4rem;
    width: 25vw;
}

#error {
    font-size: 1.5rem;
    color: red;
    opacity: 0;
    transition: 400ms ease;
    overflow: hidden;
}
